.ant-timeline-item-tail {
  background-color: white;
}
:where(.css-dev-only-do-not-override-qnu6hi).ant-timeline .ant-timeline-item {
  padding-bottom: 40px;
}

:where(.css-dev-only-do-not-override-qnu6hi).ant-timeline
  .ant-timeline-item-head-custom {
  background-color: white;
  padding: 0;
  border-radius: 50%;
}

* {
  scroll-behavior: smooth;
}
